<!DOCTYPE html>

<title>Atelier</title>

{% block body %}
    <h1>Atelier</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ atelier.id }}</td>
            </tr>
            <tr>
                <th>Titre_atelier</th>
                <td>{{ atelier.titreAtelier }}</td>
            </tr>
            <tr>
                <th>Description_atelier</th>
                <td>{{ atelier.descriptionAtelier }}</td>
            </tr>
            <tr>
                <th>Type_atelier</th>
                <td>{{ atelier.typeAtelier }}</td>
            </tr>
            <tr>
                <th>Date_atelier</th>
                <td>{{ atelier.dateAtelier ? atelier.dateAtelier|date('Y-m-d') : '' }}</td>
            </tr>
            <tr>
                <th>Capacite</th>
                <td>{{ atelier.capacite }}</td>
            </tr>
            <tr>
                <th>Statut_atelier</th>
                <td>{{ atelier.statutAtelier }}</td>
            </tr>
            <tr>
                <th>Image_atelier</th>
                <td>{{ atelier.imageAtelier }}</td>
            </tr>
            <tr>
                <th>Contexte_atelier</th>
                <td>{{ atelier.contexteAtelier }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_atelier_crud_index') }}">back to list</a>

    <a href="{{ path('app_atelier_crud_edit', {'id': atelier.id}) }}">edit</a>

    {{ include('atelier_crud/_delete_form.html.twig') }}
{% endblock %}
